/* Clear default styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0px 1rem;
}

/* Make .expanded flex */
.expanded {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 4rem;
	background-color: lightblue;
	border-radius: 20px;
}
.expanded a {
	font-size: 1.5rem;
	padding: 0.5rem;
	text-underline-offset: 0.15em;
	transition: text-underline-offset 0.3s;
	color: black;
}
.expanded a:hover {
	text-underline-offset: 0.3em;
}

.hamburger {
	display: none;
}
.burgerActive{
	display: none
}

/* Large screen sizes only */
@media only screen and (min-width: 600px) {
	.hero {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.hero img {
		width: 500px;
	}
	.hero h1 {
		font-size: 3rem;
		margin-bottom: 0.5rem;
	}
	.hero blockquote {
		font-size: 1.5rem;
		width: 40rem;
		margin-bottom: 3rem;
	}
	.hero button {
		padding: 1rem 3rem;
		background-color: lightblue;
		font-size: 1.2rem;
		border-radius: 5px;
	}
}

/* Small screen sizes */
@media only screen and (max-width: 600px) {
	.hamburger {
		display: flex;
		margin: 0px 1rem;
		justify-content: space-between;
		align-items: center;
	}

	.smallNav{
		background-color: lightblue;
		border-radius:20px;
		display: flex;
		flex-direction: column;
	}

	/* Hide the checkbox */
	#navBurger {
		display: none;
	}


	.smallNav:has(#navBurger:checked) .burgerActive {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin: 10px 15px;
		list-style-type: none;
		gap: 2px;
	}


	.burgerActive{
		display: none
	}


	.burgerActive a{
		font-size: 1.5rem;
		color: black;
	}



	.expanded {
		display: none;
	}
	.pages {
		display: flex;
		flex-direction: column;
		margin: 0;
		align-items: start;
	}
	.expanded a {
		font-size: 1.2rem;
		padding: 0.25rem;
	}
	.hero img {
		width: 200px;
	}
}
